.pause-modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #7c829d;
    width: 90vw;
    height: 85vh;
    z-index: 40000;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .2s;
    p {
        margin: 20px auto;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        line-height: 1;
        background-color: darken(#7c829d, 30%);
    }
    &.show-modal {
        transition: opacity .4s;
        opacity: .7;
    }
}
