@import '../../assets/scss/constant.scss';

@mixin line-after($col: $puzzle-bg-color) {
    &::after {
        content: '';
        position: absolute;
        z-index: 1500;
        background-color: $puzzle-bg-color;
        border-radius: 100%;
        width: 100%;
        height: $minor-line-size / $main-line-size * 100%;
        @content;
    }
}

@mixin circle($col, $size, $ind: 10000) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $col;
    z-index: $ind;
}

@mixin line-before($col) {
    &::before {
        content: '';
        position: absolute;
        border-radius: 100%;
        z-index: 10;
        background-color: $col;
        width: 100%;
        height: $minor-line-size / $main-line-size * 100%;
        transform: scale(1.2);
        @content;
    }
}

@mixin sector-border($dir, $col) {
    @if $dir == 'top' {
        border-top-left-radius: 100%;
        // border-left: 1px solid #{$col};
    }
    @if $dir == 'bottom' {
        border-bottom-right-radius: 100%;
    }
    @if $dir == 'left' {
        border-bottom-left-radius: 100%;
        
    }
    @if $dir == 'right' {
        border-top-right-radius: 100%;
    }

}

.point-wrapper {
    position:relative;
    transform: rotate(45deg);
    width: $point-size;
    height: $point-size;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 100%;
    z-index: 10000;
    &.join {
        display: block;
        width: $point-size * 1.1;
        height: $point-size * 1.1;
    }
    &.highlighted {
        transform: scale(1.1);
        animation: highlight .8s ease-in infinite;
    }
}


@each $dir in $directions {
    .puzzle-point_sector-#{$dir} {
        position: relative;
        width: 100%;
        height: 100%;
        // box-sizing: border-box;
        border-radius: 0;
        
        @each $col in $colors {
            &.fill-#{$col} {
                background-color: #{$col}; 
                @include sector-border($dir, $col);
                border: 1px solid #{$col};
                @if $col == lightgray {
                    border-color: darken($col, 20%);
                }
                @for $j from 2 to 5 {
                    &.join-#{$j} {
                        $size: 100%;
                        @if $dir == 'top' {
                            @include circle($col, $size)
                        }
                        @if $dir == 'right' {
                            $sz: $size * ($j - 1) / $j;
                            @include circle($col, $sz, 10001)
                        }
                        @if $dir == 'left' and $j > 2 {
                            $sz: $size * ($j - 2) / $j;
                            @include circle($col, $sz, 10002)
                        }

                        @if $dir == 'bottom' and $j > 3 {
                            @include circle($col, $size / $j, 10003)
                        }
                    }

                }
            }

        }

    }
}
@each $dir in $directions {
    .line-#{$dir} {
        position: absolute;
        z-index: 1;
        @each $col in $colors {
            &.line-#{$col} {
                background-color: #{$col};
                @if $dir == 'top' {
                    width: $minor-line-size;
                    height: $main-line-size;
                    top: -1px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-bottom-left-radius: 100px;
                    border-bottom-right-radius: 100px;
                    &.turn-left {
                        border-bottom-right-radius: $line-radius;
                        @include line-before($col) {
                            bottom: 13%;
                            left: -20%;
                        }
                        @include line-after {
                            bottom: 43%;
                            left: -100%;
                        }
                    }
                    &.turn-right {
                        border-bottom-left-radius: $line-radius;
                        @include line-before($col) {
                            bottom: 13%;
                            left: 33%;
                        }
                        @include line-after {
                            bottom: 40%;
                            left: 100%;
                        }
                    }
                    &.turn-bottom {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                @if $dir == 'bottom' {
                    width: $minor-line-size;
                    height: $main-line-size;
                    bottom: -1px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    &.turn-left {
                        border-top-right-radius: $line-radius;
                        @include line-before($col) {
                            bottom: 43%;
                            left: -43%;
                        }
                        @include line-after {
                            bottom: 10%;
                            left: -100%;
                        }
                    }
                    &.turn-right {
                        border-top-left-radius: $line-radius;
                        @include line-before($col) {
                            bottom: 40%;
                            left: 30%;
                        }
                        @include line-after {
                            bottom: 10%;
                            left: 100%;
                        }
                    }
                    &.turn-top {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                @if $dir == 'left' {
                    width: $main-line-size;
                    height: $minor-line-size;
                    left: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                    &.turn-top {
                        border-bottom-right-radius: $line-radius;
                    }
                    &.turn-bottom {
                        border-top-right-radius: $line-radius;
                    }
                    &.turn-right {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                @if $dir == 'right' {
                    width: $main-line-size;
                    height: $minor-line-size;
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-top-left-radius: 100px;
                    border-bottom-left-radius: 100px;
                    &.turn-left {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    &.turn-bottom {
                        border-top-left-radius: $line-radius;
                    }
                    &.turn-top {
                        border-bottom-left-radius: $line-radius;
                    }
                }
            }
        }
    }
}

@keyframes highlight {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.05);
    }
}
