@import '../../assets/scss/constant.scss';

.colors-wrapper {
    display: flex;
}

.btn_color {
    width: 1.8rem;
    height: 1.8rem;
    margin: .2rem;
    border-radius: 50%;
    border-color: transparent;
    position: relative;
    @each $color in $colors {
        &.btn-#{$color} {
            background-color: #{$color};
            // cursor: url('../../assets/images/#{$color}-cursor.png') 10 10, pointer;
            @if $color == yellow {
                background-color: darken($color, 5);
            }
            &.selected::after {
                content: '';
                width: .9rem;
                height: .9rem;
                border-radius: 50%;
                background-color: lighten($color, 25);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
