@import '../../assets/scss/constant.scss';

.dots-conn-puzzle {
    // border: solid 2px black;
    
    &_creator {
        width: 90vw;
        max-width: 600px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    
    &_body {
        background-color: aliceblue;
        border-radius: 10px;
        border: solid 1px gray;
        $width: 80vw;
        width: $width;
        $max-width: 400px;
        max-width: $max-width;
        @for $i from 3 to 30 {
            @for $j from 3 to 40 {
                &.size-#{$i}-#{$j} {
                    height:  $width / $i * $j;
                    max-height: $max-width / $i * $j;
                    display: grid;
                    grid-template-columns: repeat(#{$i}, 1fr);
                    grid-template-rows: repeat(#{$j}, 1fr);
                    .c-0-#{$j - 1} {
                        border-bottom-left-radius: 10px;
                    }
                    .c-#{$i - 1}-#{$j - 1} {
                        border-bottom-right-radius: 10px;
                    }
                    .c-#{$i - 1}-0 {
                        border-top-right-radius: 10px;
                    }
                }

            }
        }
        .puzzle-cell {
            border: 1px solid darkgray;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &.c-0-0 {
                border-top-left-radius: 10px;
            }
            @each $col in $colors {
                &.#{$col} {
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 100000;
                        top: 0;
                        left: 0;
                        background-color: $col;
                        opacity: .1;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100000;
                top: 0;
                left: 0;
            }
        }
    }
}
