@import './assets/scss/main.scss';

.App {
  background-color: rgba(29, 31, 31, 0.91);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
