@import "../../assets/scss/constant";

.dots-puzzle_menu {
    height: auto;
    display: flex;
    margin: 0 0 10px;
    flex-direction: column;
    &__level {
        color: aliceblue;
        text-align: center;
        margin-right: 10px;
        height: 1.6rem;
        line-height: 1.6rem;
    }

    &__dimensions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        button {
            @extend main-btn;
            padding: 5px;
            margin: 5px;
        }
    }
    &__size-range {
        width: 48%;
        label {
            display: inline-block;
            width: 3.5rem;
            color: aliceblue;
            font-size: 1.1rem;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input {
            margin: 5px;
            &:focus {
                outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
            }
        }
        [type=number] {
            padding-left: 5px;
            background: transparent;
            color: aliceblue;
            width: 2.2rem;
        }

        //input[type=range] {
        //    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        //    width: 100%; /* Specific width is required for Firefox. */
        //    background: transparent; /* Otherwise white in Chrome */
        //    &::-webkit-slider-thumb {
        //        -webkit-appearance: none;
        //        border: 1px solid lighten(blue, 20%);
        //        height: 1.2rem;
        //        width: 1rem;
        //        border-radius: 3px;
        //        background: seashell;
        //        cursor: pointer;
        //        box-shadow: 0 0 2px 2px lighten(blue, 23%); /* Add cool effects to your sliders! */
        //    }
        //    &::-moz-range-thumb {
        //        -webkit-appearance: none;
        //        border: 1px solid lighten(blue, 20%);
        //        height: 1.2rem;
        //        width: 1rem;
        //        border-radius: 3px;
        //        background: seashell;
        //        cursor: pointer;
        //        box-shadow: 0 0 2px 2px lighten(blue, 23%); /* Add cool effects to your sliders! */
        //    }
        //
        //
        //    &::-ms-track {
        //        width: 100%;
        //        cursor: pointer;
        //
        //        /* Hides the slider so custom styles can be added */
        //        background: transparent;
        //        border-color: transparent;
        //        color: transparent;
        //    }
        //}

        //input[type=range]:focus::-webkit-slider-runnable-track {
        //    background: #367ebd;
        //}

        /* All the same stuff for Firefox */
        //input[type=range]

        /* All the same stuff for IE */
        //input[type=range]::-ms-thumb {
        //    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        //    border: 1px solid #000000;
        //    height: 36px;
        //    width: 16px;
        //    border-radius: 3px;
        //    background: #ffffff;
        //    cursor: pointer;
        //}


    }
    &__colors-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
    }
}
